/***** CSS for contact page *****/

/*Google fonts*/
h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

p, li, form, ::placeholder {
    font-family: 'Fira Sans', sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}


/* Header block */
.header {
    background-color: #C7DDEA;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    justify-content: space-around;
}

.header h1 {
    align-self: cent;
    font-size: 3em;
    margin-top: 100px;
}

.picture {
    size: 1000px;
    
}
/* Navbar block */
.nav-bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}


/* Contact block */
* {
    box-sizing: border-box;
  }

  .container {
    background-color:#A9A19E;
    }
  
  .column h2 {
      color: white;
      text-align: center;
      font-size: xx-large;
    }
  
  input[type=email], select, textarea {
    width: 75%;
    padding: 5px;   
    border: none;   
  }
  
  input [type=subject] {
    width: 75%;
    padding: 5px;
    color: black;
  }

  ::placeholder{
      color: black;
      padding: 5px;
  }

  input[type=submit] {
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    margin-left: 43%;
    font-family: 'Fira Sans', sans-serif;
  }
    
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .column label {
      color: rgb(226, 226, 226);
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Map block */
  .map {
      display: flex;
      background-image: url("img/mapwithgps.png");
      height: 300px;
      background-size: contain;
  }

  .visit-us {
      width: 250px;
      height: 150px;
      background-color: rgb(255, 186, 37);
      color: white;
      margin-top: 3%;
      margin-left: 5%;
      padding-left: 20px;
     }

    .visit-us h3 {
        font-size: x-large;
    }
  
/* Footer block */
  .footer {
    background-color: #777574;
    min-height: 300px;
}

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 600px) {
    
   .header-pic {
       display: none;
    }

   .header {
    justify-content: center;
    }
  
    .column input[type=submit] {
      width: 50%;
      margin-top: 0;
    }

    .visit-us {
        display: none;
    }
.map {
    background-image: url("img/map-mobilesize.png");
    background-size: contain;
    background-repeat: no-repeat;

}

}

 
