/* CSS for contact page */

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header h1 {
    align-self: center;
    margin-right: 100px;
}

.picture {
    size: 1000px;
}

.nav-bar {
    background-color: yellow;
}

.contact {
    background-color: green;
}

.map {
    background-color: purple;
}

.footer {
    background-color: red;
}
