/* CSS FOR CONTACT PAGE */

.container-class {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(22, 1fr);
    grid-template-areas: 
    "header header header header header header"
    "header header header header header header"
    "header header header header header header"
    "header header header header header header"
    "header header header header header header"
    "navbar navbar navbar navbar navbar navbar"
    "contact contact contact contact contact contact"
    "contact contact contact contact contact contact"
    "contact contact contact contact contact contact"
    "contact contact contact contact contact contact"
    "contact contact contact contact contact contact"
    "contact contact contact contact contact contact";
   


}

.header-class {
    background-color: #C7DDEA;
    grid-area: header;
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
  
}

.contact {
    background-color: #A9A19E;
    grid-area: contact;



}

.map {
  width: fit-content;  
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.form {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}